.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 100;
}

.left {
    display: flex;
    align-items: center;
}

.hamberger {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtubeicon {
    height: 20px;
    cursor: pointer;
}

.middle {
    flex: 1;
    max-width: 650px;
    align-items: center;
    display: flex;
}

.search-bar {
    flex: 1;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 0 4px 0 16px;
    padding-left: 25px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(77, 77, 77);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: none;
    background-color: transparent;
    color: white;
}

.search-bar::placeholder {
    font-size: 16px;
}

.searchb {
    height: 36px;
    width: 66px;
    background-color: rgb(33, 33, 33);
    margin-right: 8px;
    padding: 1px 6px;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(77, 77, 77);
    margin-left: -1px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

.searchb,
.voiceb,
.creat
.plus
.notification-con{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.searchb .tooltip,
.voiceb .tooltip,
.notification-con .tooltip {
    position: absolute;
    background-color: grey;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    bottom: -30px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    white-space: nowrap;
}

.searchb:hover .tooltip,
.voiceb:hover .tooltip,
.notification-con:hover .tooltip{
    opacity: 1;
}

.serchbi {
    width: 24px;
}

.voiceb {
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
}

.voicebi {
    width: 23px;
}

.right {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 23px;
    flex-shrink: 0;
}

.create{
    color: white;
    font-family: Robot , Arial;
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
}

.plus{
    color: white;
    font-style:normal;
    margin-right: 10px;
}
.cre{
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -35px;
    padding: 4px 10px 4px 10px;
    border-radius: 50px;
    border-style: solid;
    cursor: pointer;
}

.notif {
    height: 25px;
}

.notification-con{
    position: relative;
    margin-left: -20px;
    cursor: pointer;
}

.notif-count{
    background-color: rgb(200 , 0 ,0);
    border-radius: 30px;
    border: none;
    color: white;
    position: absolute;
    font-family: Roboto , Arial;
    font-size: 10px;
    top: -2px;
    right: -4px;
    padding: 2px 5px 2px 5px;
}

.prof {
    height: 32px;
    border-radius: 16px;
    margin-right: 10px;
    cursor: pointer;
}