.thumbnail {
    width: 100%;
    border-radius: 8px;
}

.description {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.video-auther,
.video-stats {
    font-size: 12px;
    width: 200px;
    margin-bottom: 0px;
    color: rgb(163, 163, 163);
}

.video-auther {
    margin-bottom: 4px;
    cursor: pointer;
}

.picinfo {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
    cursor: pointer;
}

.tumbnail-margin {
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

@media (max-width: 970px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 770px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

    .videotime {
        position: absolute;
        bottom: 8px;
        right: 5px;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        font-size: 12px;
        font-weight: 500;
        padding: 4px 4px 4px 4px;
        border-radius: 2px;
    }